extends layouts/main-layout.pug

block content
    script. 
        var postId = '!{postId}'; 
    .postsContainer

    +createPostModal(userLoggedIn)    

    
block scripts
    script(src="/js/postPage.js") 
